*{
    font-family: 'Happy Monkey', cursive;
    
}
 #mood-check  {
      font-size: 25px;
      background-color: var(--blue);
      text-color: var(--mauve);
      width: 100%;
  }
.text-color {
    background-color: var(--blue);
    text-color: var(--mauve);
}
  .need {
      font-size: 30 px;
      width: 100%;

  }
.myIcon1, .myIcon2, .myIcon3, .myIcon4 {
cursor: pointer;

}
/* css for page 2 */
.changeCard2 {
    min-height: 36vh;
    min-width: 80vw;
    margin: 3% 3% 0% 10%;
}

.jEntry {
    font-size: 150%;
    min-height: 7vh;
}

/* css for page 3 */
.textPg3 {
    font-size: 200%;
    margin: 0%;
    padding: 2%;
}

.changeCard3 {
    min-height: 55vh;
    min-width: 80vw;
    margin: 3% 3% 0% 10%;
}

.button3 {
    text-align: center;
}

.bt3 {
    border: 2px solid darkblue;
    border-radius: 2%;
    margin: 1%;
    opacity: 0.8;
}

.bt3:hover {
    opacity: 1;
} 




.myTextArea {
    height: 45vh;
    width: 70vw;
    margin-top: 2%;
}



/* for animated buttons on page 1 */
.animated { 
 
    background-repeat: no-repeat;
    background-position: left top; 
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
 }
 
 @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }
 .animated2 { 
 
    background-repeat: no-repeat;
    background-position: left top; 
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 8s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
 }

 .bounce2 { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }

 .icon:hover {
     color: white;
 }

